# Виртуальное окружение
venv/
env/
.venv/
ENV/

# Файлы с секретами
.env
.env.local

# Базы данных
*.db
*.sqlite
*.sqlite3

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Дистрибутивы
dist/
build/
*.egg-info/

# Логи
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
.DS_Store